* {
  box-sizing: border-box;
  /* Pastikan padding dihitung di dalam lebar elemen */
}

body,
html {
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  left: 0;
  width: 100%;
  min-height: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body {
  font-family: 'Roboto', sans-serif;
}